@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato&display=swap");

:root {
  font-family: "Bangers", Arial, sans-serif;
  background-image: url("./assets/marvel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}